<template>
    <v-container fluid>
        <v-card class="ma-3 pa-3">
            <v-card-title primary-title>
                <div class="headline primary--text">Create Product</div>
            </v-card-title>
            <v-card-text>
                <template>
                    <v-form v-model="valid" ref="form" lazy-validation>
                        <v-container fluid>
                            <v-layout row wrap>
                                <v-flex xs12 md6>
                                    <v-layout row wrap>
                                        <v-flex xs12 md11>
                                            <v-text-field label="Product name" v-model="name" required></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout row wrap>
                                        <v-flex xs12 md5>
                                            <v-text-field label="Language" v-model="language" required></v-text-field>
                                        </v-flex>
                                        <v-flex md1></v-flex>
                                        <v-flex xs12 md5>
                                            <v-text-field label="Barcode" v-model="barcode"></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout row wrap>
                                        <v-flex xs6 md2 mr-2>
                                            <v-text-field label="Calories" v-model="calories" required></v-text-field>
                                        </v-flex>
                                        <v-flex xs6 md2>
                                            <v-text-field label="Fats" v-model="fats"></v-text-field>
                                        </v-flex>
                                        <v-flex md2></v-flex>
                                        <v-flex xs6 md2 mr-2>
                                            <v-text-field label="Proteins" v-model="proteins"></v-text-field>
                                        </v-flex>
                                        <v-flex xs6 md2 mr-2>
                                            <v-text-field label="Carbs" v-model="carbs"></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                </v-flex>
                                <v-flex xs12 md6>
                                    <v-card>
                                        <v-card-title primary-title>
                                            <div class="mb-4 primary--text">Tags</div>
                                        </v-card-title>
                                        <v-card-text>
                                            <v-layout row wrap>
                                                <v-flex xs12 md6>
                                                    <v-text-field label="Tag" v-model="tagName"
                                                                  class="mr-2"></v-text-field>
                                                </v-flex>
                                                <v-flex xs12 md6>
                                                    <v-btn @click="addTag()">Add</v-btn>
                                                </v-flex>
                                            </v-layout>
                                            <v-layout row wrap>
                                                <v-flex xs12>
                                                    <v-chip v-for="tag in tags" :key="tag" @click="removeTag(tag)">
                                                        {{ tag }}
                                                        <v-icon>close</v-icon>
                                                    </v-chip>
                                                </v-flex>
                                            </v-layout>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-container>
                        <v-container fluid>
                            <v-layout row wrap>
                                <v-flex xs12 md6>
                                    <v-card>
                                        <v-card-title primary-title>
                                            <div class="mb-4 primary--text">Nutrients</div>
                                        </v-card-title>
                                        <v-card-text>
                                            <v-layout row wrap>
                                                <v-flex xs5>
                                                    <v-text-field label="Nutrient name" v-model="nutrientName"
                                                                  class="mr-2"></v-text-field>
                                                </v-flex>
                                                <v-flex xs4>
                                                    <v-text-field label="Value" v-model="nutrientValue"
                                                                  class="mr-2"></v-text-field>
                                                </v-flex>
                                                <v-flex xs2>
                                                    <v-btn @click="addNutrient">Add</v-btn>
                                                </v-flex>
                                            </v-layout>
                                            <v-layout row wrap>
                                                <v-data-table :headers="nutrientHeaders" :items="nutrients">
                                                    <template slot="items" slot-scope="props">
                                                        <td>{{ props.item.name }}</td>
                                                        <td>{{ props.item.value }}</td>
                                                        <td>
                                                            <v-btn @click="removeNutrient(props.item.name)">
                                                                <v-icon>delete</v-icon>
                                                            </v-btn>
                                                        </td>
                                                    </template>
                                                </v-data-table>
                                            </v-layout>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex xs12 md6>
                                    <v-card>
                                        <v-card-title primary-title>
                                            <div class="mb-4 primary--text">Measures</div>
                                        </v-card-title>
                                        <v-card-text>
                                            <v-layout row wrap>
                                                <v-flex xs5>
                                                    <v-text-field label="Measure name" v-model="measureName"
                                                                  class="mr-2"></v-text-field>
                                                </v-flex>
                                                <v-flex xs4>
                                                    <v-text-field label="Value" v-model="measureValue"
                                                                  class="mr-2"></v-text-field>
                                                </v-flex>
                                                <v-flex xs2>
                                                    <v-btn @click="addMeasure">Add</v-btn>
                                                </v-flex>
                                            </v-layout>
                                            <v-layout row wrap>
                                                <v-data-table :headers="measureHeaders" :items="measures">
                                                    <template slot="items" slot-scope="props">
                                                        <td>{{ props.item.measureName }}</td>
                                                        <td>{{ props.item.value }}</td>
                                                        <td>
                                                            <v-btn @click="removeMeasure(props.item.name)">
                                                                <v-icon>delete</v-icon>
                                                            </v-btn>
                                                        </td>
                                                    </template>
                                                </v-data-table>
                                            </v-layout>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-form>
                </template>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click="cancel">Cancel</v-btn>
                <v-btn @click="reset">Reset</v-btn>
                <v-btn @click="submit" :disabled="!valid">
                    Save
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-container>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {IFoodCreate, IFoodMeasure, IFoodNutrient} from '@/interfaces';
    import {dispatchCreateFood} from '@/store/admin/actions';

    @Component
    export default class CreateFood extends Vue {
        public name: string = '';
        public language: string = 'ru';
        public calories: number = 0;
        public fats: number = 0;
        public proteins: number = 0;
        public carbs: number = 0;
        public tags: string[] = [];
        public measures: IFoodMeasure[] = [];
        public nutrients: IFoodNutrient[] = [];
        public barcode: string = '';
        public valid: boolean = false;

        public nutrientName: string = '';
        public nutrientValue: number = 0;

        public measureName: string = '';
        public measureValue: number = 0;

        public tagName: string = '';

        public nutrientHeaders = [
            {
                text: 'Nutrient Name',
                sortable: true,
                value: 'nutrientName',
                align: 'left',
            },
            {
                text: 'Value',
                sortable: true,
                value: 'value',
                align: 'left',
            },
            {
                text: 'Actions',
                value: 'name',
            },
        ];

        public measureHeaders = [
            {
                text: 'Measure Name',
                sortable: true,
                value: 'measureName',
                align: 'left',
            },
            {
                text: 'Value',
                sortable: true,
                value: 'value',
                align: 'left',
            },
            {
                text: 'Actions',
                value: 'measureName',
            },
        ];

        public async mounted() {
            this.reset();
        }

        public reset() {
            this.name = '';
            this.language = 'ru';
            this.calories = 0;
            this.fats = 0;
            this.proteins = 0;
            this.carbs = 0;
            this.tags = [];
            this.measures = [];
            this.nutrients = [];
            this.barcode = '';
        }

        public addNutrient() {
            if ((this.nutrientName.length > 0) && (this.nutrientValue > 0)) {
                this.nutrients.push({name: this.nutrientName, value: this.nutrientValue});
            }
        }

        public removeNutrient(nutrientName: string) {
            this.nutrients.splice(this.nutrients.findIndex((nutrient) => nutrient.name === nutrientName), 1);
        }

        public addMeasure() {
            if ((this.measureName.length > 0) && (this.measureValue > 0)) {
                this.measures.push({measureName: this.measureName, value: this.measureValue});
            }
        }

        public removeMeasure(measureName: string) {
            this.measures.splice(this.measures.findIndex((measure) => measure.measureName === measureName), 1);
        }

        public addTag() {
            if (this.tagName.length > 0) {
                this.tags.push(this.tagName);
            }
        }

        public removeTag(tagName: string) {
            this.tags.splice(this.tags.findIndex((tag) => tag === tagName), 1);
        }

        public cancel() {
            this.$router.back();
        }

        public async submit() {
            if (await this.$validator.validateAll()) {
                const createdFood: IFoodCreate = {
                    name: this.name,
                    language: this.language,
                    calories: this.calories,
                    fats: this.fats,
                    proteins: this.proteins,
                    carbs: this.carbs,
                    tags: this.tags,
                    nutrients: this.nutrients,
                    measures: this.measures,
                    barcode: this.barcode,
                    ownerEmail: 'System',
                };
                await dispatchCreateFood(this.$store, createdFood);
                this.$router.push('/main/admin/food');
            }
        }


    }

</script>
