<template>
  <div>
    <v-toolbar light>
      <v-toolbar-title>
        Manage Food
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn color="primary" to="/main/admin/food/create">Create Food</v-btn>
    </v-toolbar>
    <v-data-table :headers="headers" :items="food">
      <template slot="items" slot-scope="props">
        <td>{{ props.item.name }}</td>
        <td>{{ props.item.ownerEmail }}</td>
        <td>{{ props.item.state }}</td>
        <td class="justify-center layout px-0">
          <v-tooltip top>
            <span>Edit</span>
            <v-btn slot="activator" flat :to="{name: 'main-admin-food-edit', params: {id: props.item.id}}">
              <v-icon>edit</v-icon>
            </v-btn>
          </v-tooltip>
        </td>
      </template>
    </v-data-table>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { readAdminFoodList } from '@/store/admin/getters';
import { dispatchGetFoodList } from '@/store/admin/actions';

@Component
export default class AdminFoodList extends Vue {
  public headers = [
    {
      text: 'Product name',
      sortable: true,
      value: 'name',
      align: 'left',
    },
    {
      text: 'Owner\'s email',
      sortable: true,
      value: 'ownerEmail',
      align: 'left',
    },
    {
      text: 'State',
      sortable: true,
      value: 'state',
      align: 'left',
    },
    {
      text: 'Actions',
      value: 'id',
    },
  ];
  get food() {
    return readAdminFoodList(this.$store);
  }

  public async mounted() {
    await dispatchGetFoodList(this.$store);
  }
}
</script>
